version: '3.8'

services:
  db:
    image: postgres:15
    container_name: fraud_db
    restart: always
    environment:
      POSTGRES_USER: alex
      POSTGRES_PASSWORD: 1111
      POSTGRES_DB: fraud_detection
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - fraud_network

  localstack:
    image: localstack/localstack
    container_name: fraud_localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3
      - DEBUG=1
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "./localstack:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - fraud_network

  jupyter:
    image: jupyter/scipy-notebook:latest
    container_name: fraud_jupyter
    ports:
      - "8888:8888"
    volumes:
      - .:/home/jovyan/work
    environment:
      - JUPYTER_TOKEN=easy_password
      - MEM_LIMIT=2g 
    networks:
      - fraud_network

volumes:
  postgres_data:

networks:
  fraud_network:
    driver: bridge